* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.23;
	color: #fff;
	overflow-x: hidden;
	position: relative;
}

/*.container {
	width: 1366px;
}
*/
.banner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	background-position: 30% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1811px;
}

.banner:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(64, 64, 64, 0.7);
}

.cover {
	position: absolute;
	top: 1050px;
	left: 0;
	right: 0;
	-webkit-transform: skewY(30deg);
	-ms-transform: skewY(30deg);
	transform: skewY(30deg);
	background-color: #fff;
	height: 1300px;
}

a {
	color: #fff;
}

a:hover {
	color: #fec20b;
}

.value-link:hover span,
.value-link:hover:before {
	background-color: #fec20b;
}

a:focus,
btn,
btn:focus,
.btn:focus,
button,
button:focus {
	outline: none;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header-inner {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 71px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-right {
	z-index: 110;
}

.header-logo,
.nav-logo,
.header-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo-img {
	display: block;
	height: 56px;
	margin-right: 18px;
}

.logo-img-title {
	display: block;
	height: 15px;
}

.btn {
	display: inline-block;
}

.request-btn .btn,
.join-btn .btn {
	font-family: 'Bebas Neue', cursive;
	font-size: 21px;
	text-transform: uppercase;
	line-height: 1;
	padding: 14px 17px 12px;
	background: transparent;
	color: #fff;
	border-radius: 10px;
	border: 2px solid #fec20b;
}

.bttn:hover {
	color: #fec20b;
}

.search-btn {
	display: block;
	margin-left: 86px;
	color: #fff;

}

.search-btn .svg-inline--fa {
	font-size: 30px;
}


.list-item-link .svg-inline--fa {
	font-size: 24px;
}

.nav-toggle-btn {
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: transparent;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: none;
	outline: none;
	position: relative;
	margin-left: 86px;
}

.nav-toggle-btn span {
	display: block;
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 4px 0;
	z-index: 999;
}

/*nav===================================================================*/
.nav {

	position: fixed;
	background-color: rgba(27, 155, 215, 0.9);
	-webkit-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms;

	-webkit-box-align: center;

	-ms-flex-align: center;

	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	padding: 0 20px;
}

.nav-list {
	margin-top: 115px;
	list-style-type: none;
	width: 180px;
}

.menu-item {
	margin-bottom: 35px;
	position: relative;
}

.menu-item .request-btn {
	display: none;
}

.menu-item a {
	font-size: 28px;
	font-weight: 700;
	text-decoration: none;
}

.sub-menu {
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	padding-left: 0;
	list-style-type: none;
	width: 355px;
	height: 500px;
}

.sub-menu li {
	position: relative;
	display: inline-block;
	margin: 2px 0px 12px -11px;
}

.sub-menu li:last-child {
	margin-bottom: 0;
}

.sub-menu li:before {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	-webkit-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms;
	bottom: -3px;
	left: 0;
	background-color: #fec20b;
}

.sub-menu li:hover:before {
	width: 100%;
}

.sub-menu li a {
	font-weight: 200;
}

.sub-menu li a:hover {
	color: #fff;
}

.sub-menu:before {
	content: '';
	position: absolute;
	top: 15px;
	left: -44px;
	display: inline-block;
	height: 10px;
	width: 10px;
	border-style: solid;
	border-width: 5px 0 5px 9px;
	border-color: transparent transparent transparent #fec20b;
}

.menu-item:hover .sub-menu {
	display: block;
}

.nav-logo-link {
	display: inline-block;
	float: right;
	margin: -22px -21px 0 0;
}

.nav-logo .logo-img-title {
	display: block;
	height: 13px;
}

.nav-logo .logo-img {
	display: block;
	height: 48px;
	margin-right: 14px;
}

body.show-nav .nav {
	left: 0;
	z-index: 10;
}

body.show-nav .nav-toggle-btn span {
	margin: -10px 0 0 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

body.show-nav .nav-toggle-btn span:last-child {
	margin: 0 0 -10px 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);

}

body.show-nav .nav-toggle-btn span:nth-child(2) {
	opacity: 0;

}

/*nav end*/
/*search=================================================================*/
.stickytop {
	margin-top: -50px;
	padding-bottom: 22px;
	position: fixed;
	width: 100%;
	background-color: rgba(27, 155, 215, 1);
	z-index: 101;
	-webkit-transition: all ease 200ms;
	-o-transition: all ease 200ms;
	transition: all ease 200ms;
	-webkit-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.25);
	box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.25);
}

.search-field-wrapper {
	z-index: 100;
	position: absolute;
	top: 149px;
	background: rgba(107, 190, 229, .65);
	width: 100%;
	height: 90px;
	left: 0;
	display: none;
}

.search-field-wrapper .search-field-box {
	max-width: 1400px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	margin-top: 30px;
}

.search-field-wrapper .search-field-box .search-field {
	background-color: transparent;
	color: #fff;
	border: 0;
	border-bottom: 1px solid #fff;
	margin-bottom: 0;
	padding: 0;
	font-size: 24px;
	padding-right: 35px;
	font-weight: 100;
}

form input {
	width: 100%;
	position: relative;
}

.search-form-inner {
	margin: 0 140px 0 30px;
}

.search-field-wrapper .search-field-box .search-field:focus {
	outline: none;
}

.search-field-wrapper .search-field-box .search-field:focus::-moz-placeholder {
	opacity: 0;
}

.search-field-wrapper .search-field-box .search-field:focus::-ms-input-placeholder {
	opacity: 0;
}

.search-field-wrapper .search-field-box .search-field:focus::-webkit-input-placeholder {
	opacity: 0;
}

.search-field-wrapper .search-field-box .search-field::-moz-placeholder {
	font-size: 30px;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.search-field-wrapper .search-field-box .search-field::-ms-input-placeholder {
	font-size: 30px;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.search-field-wrapper .search-field-box .search-field::-webkit-input-placeholder {
	font-size: 30px;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.search-field-wrapper .search-field-box .search-submit .fa-search {
	color: #fff;
	font-size: 28px;

}

.search-field-wrapper .search-field-box .search-submit {
	top: 30px;
	position: absolute;
}

.search-link {
	color: #fff;
}

/*hero===================================================================*/
.hero {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 284px 0 188px;
}

.hero-description {
	display: block;
	float: left;
	text-align: left;
	max-width: 440px;
	padding: 0 30px;
}

.hero-description p,
.featured-project p {
	line-height: 1.6;
}

.hero-title {

	font-size: 48px;
	font-weight: 700;
	padding: 0 0 6px 0;
}

.link-list {
	position: relative;
	display: block;
	float: right;
	text-align: center;
	margin: 5px -9px 0 0;
}

.link-list-item {
	padding: 0 0 25px 0;
}

.vertical-process {
	position: absolute;
	z-index: 2;
	left: 6px;
	top: 145px;
}

.vertical-process-wrapper:before {
	content: "";
	height: 228px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border: 1px solid #fff;
	z-index: 1;
}

.vertical-process-circle {
	display: inline-block;
	background-color: #fff;
	width: 12px;
	height: 12px;
	border-radius: 12px;

}

.vertical-process-wrapper .vertical-process.stop {
	top: 372px !important;
}

/*	values*/
.values {
	position: relative;
}

.value-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 222px;
	background-color: #fff;
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
	text-align: center;
	padding: 35px 35px 28px;
}

.value-title {
	font-family: 'Bebas Neue', cursive;
	font-size: 36px;
	text-transform: uppercase;
	color: #000;
	padding-bottom: 5px;
}

.value-col p {
	color: #000;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.value-link {
	position: relative;
	margin-top: 23px;
	vertical-align: bottom;
	color: rgba(27, 155, 215, 1);
	text-decoration: underline;
}

.value-link span {
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: rgba(27, 155, 215, 1);
	margin: 0 9px -6px 0;
}

.value-link span:before {
	content: '';
	display: inline-block;
	margin: 7px -4px 0 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent #ffffff;
}

/*services===============================================================*/
.services {
	position: relative;
	padding: 90px 0 67px;
}

.services-inner {
	margin: 0 auto;
}

.services-title {
	display: inline-block;
	padding: 0 25px 0 30px;
	margin-bottom: 30px;
}

.horizontal-process-wrapper {
	position: relative;
	display: inline-block;
}

.horizontal-process-wrapper:before {
	content: "";
	width: 230px;
	position: absolute;
	top: 22px;
	left: 0px;
	border: 1px solid rgba(27, 155, 215, 1);
	z-index: 1;
}

.horizontal-process.stop .horizontal-process-circle {
	left: 230px !important;
}

.horizontal-process.start .horizontal-process-circle {
	left: -1.5px !important;
}

.horizontal-process-circle {
	position: relative;
	display: inline-block;
	margin-top: 17px;
	background-color: rgba(27, 155, 215, 1);
	width: 12px;
	height: 12px;
	border-radius: 12px;
}

.title {
	color: #000;
	font-size: 36px;
	font-weight: 700;
}

.services-gallery {
	position: relative;
	min-height: 500px;
	padding: 0 15px;
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);

}

.col-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 33.33%;
	height: 250px;
	border: 1px solid #fff;
	background-color: rgba(27, 155, 215, 0.85);
}

.col-img:hover {
	background-color: rgba(95, 95, 95, 0.85);
}

.col-img .logo-img {
	height: 92px;
	margin: 0 auto 15px;
}

.col-img .logo-img-title {
	height: 16px;
}

.frame-icon {
	height: 76px;
}

.frame-title {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.05rem;
	line-height: 1.23;
	margin: 0 0 11px 0;
}

.frame-link {
	font-size: 20px;
	font-weight: 700;
	color: rgba(27, 155, 215, 1);
}

.col-img .before {
	display: block;

}

.col-img:hover .before {
	display: none;

}

.col-img .after {
	display: none;
	padding: 0 15px;
	max-height: 250px;
}

ul > li > p {
	overflow: hidden;
	margin-bottom: 6px;
}

.col-img:hover .after {
	display: block;

}

/*featured project=======================================================*/
.featured-project {}

.featured-project-inner {
	position: relative;
	padding: 7px 0 75px;
}

.featured-project-inner .col-lg-6:last-child {
	position: absolute;
	top: 0;
	right: 25px;
	z-index: 1;
}

.column-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 38px 30px 0;
}

.column-right {
	z-index: 10;
	padding: 9px 0 0 0;
}

.featured-project p {
	color: #000;
	padding-top: 6px;
}

.figcaption-span {
	display: inline-block;
	position: absolute;
	top: 18px;
	right: -27px;
	background-color: #fec20b;
	width: 50px;
	height: 2px;
}

.feat-proj-img {
	height: 450px;
	-webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .25);
	box-shadow: 5px 10px 10px rgba(0, 0, 0, .25);
}

.common-btn .btn {
	background-color: rgba(27, 155, 215, 1);
	color: #fff;
	font-size: 18px;
	letter-spacing: initial;
	padding: 7px 23px;
	border-radius: 10px;
	margin: 20px 0;
}

.btn:hover {
	background: #fec20b;
	color: #000;
}

.btn:active {
	background: #000;
	color: #fec20b;
}

figcaption p {
	font-size: 16px;
	letter-spacing: -0.6px;
}

.vertical-process-wrapper-2 {
	margin: 32px 0 0 30px;
	position: relative;
}

.vertical-process-wrapper-2:before {
	content: "";
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #52afe1;
	z-index: 1;
}

.vertical-process-wrapper-2 .vertical-process-2 {
	position: absolute;
	z-index: 2;
	left: -5px;
}

.vertical-process-wrapper-2 .vertical-process-2.stop {
	top: 142px !important;
}

.vertical-process-wrapper-2 .vertical-process-2.start {
	top: -3.5px !important;
}

.vertical-process-2-circle {
	display: inline-block;
	background-color: #52afe1;
	width: 12px;
	height: 12px;
	border-radius: 12px;
}

.call-to-action {
	position: relative;
	background-position: 50%;
	background-size: cover;
	text-align: center;
}

.call-to-action:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(64, 64, 64, 0.7);
}


.call-to-action-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	height: 600px;
	text-align: center;
	padding-top: 75px;

}

.call-to-action-title {
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	padding-bottom: 10px;
}

.call-to-action p {
	color: #fff;
}

/*footer=================================================================*/
.footer {
	background-color: rgba(27, 155, 215, 1);
	padding: 40px 0 0;
	position: relative;
}

.footer-inner {}

.contact-block {
	margin: 0 0 40px;
}

.footer p {
	color: #fff;
	line-height: 1.5;
}


.contact-block a:hover {
	text-decoration: none;
}

.contact-block .link-list {
	float: left;
	margin: 21px 0 17px;
}

.contact-block .link-list-item {
	display: inline-block;
	margin-right: 36px;
}

.copyright-block {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: rgba(102, 102, 102, 1);
	color: #fff;
	padding: 15px 0 15px;
}

.copyright-content {
	margin: 0 -10px;
}

.copyright-block a {
	text-decoration: underline;
}

.copyright-block a:hover {
	text-decoration: none;
}

.logo-block {
	padding: 10px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.logo-col .logo-img {
	display: block;
	margin: 0 auto;
	height: 92px;
}

.logo-col .logo-img-title {
	display: block;
	margin: 15px auto 0;
}

.join-block {
	text-align: right;
	color: #fff;
}

.join-btn .btn {
	margin-top: 22px;
}

/*footer end*/

@media screen and (max-width: 1600px) {
	.container {
		max-width: 1224px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		max-width: 1224px;
	}

	.feat-proj-img {
		width: 100%;
		height: auto;
	}

	.featured-project-inner .col-lg-6:last-child {
		position: relative;
		right: 0;
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}

	.featured-project-inner .column-left {
		text-align: center;
		padding: 30px 15px 0;
	}

	.featured-project p {
		padding-top: 20px;
	}

	.feat-proj-img {
		width: 100%;
		height: auto;
	}

	figcaption p {
		padding-left: 15px;
	}

	.figcaption-span {
		right: 30px;
		top: 26px;
	}

	.vertical-process-wrapper-2 {
		margin: 32px 0 0 0;
	}

	.vertical-process-wrapper-2:before {
		left: 50%;
	}

	.vertical-process-wrapper-2 .vertical-process-2 {
		left: calc(50% - 5px);
	}
}

@media screen and (max-width: 769px) {
	.container {
		max-width: 700px;
	}

	.logo-img {
		height: 44px;
		margin-right: 12px;
	}

	.logo-img-title {
		height: 12px;
	}

	.nav-list {
		width: 100%;
		text-align: center;
	}

	.menu-item {
		margin-bottom: 34px;
		position: relative;
	}

	.menu-item:nth-child(4):before {
		content: '';
		position: relative;
		top: 7px;
		left: 122px;
		display: inline-block;
		height: 10px;
		width: 10px;
		border-style: solid;
		border-width: 5px 0 5px 9px;
		border-color: transparent transparent transparent #fff;
	}

	.menu-item:hover:before {
		top: 12px;
		border-color: transparent transparent transparent #fec20b;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.nav-logo-link {
		float: none;
		margin: 36px calc(50% - 111px);
	}

	.sub-menu {
		position: relative;
		top: 0;
		margin: 26px auto 0;
		left: 0;
		padding-left: 0;
		list-style-type: none;
		width: 355px;
		height: auto;
	}

	.sub-menu li {
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
	}

	.sub-menu li:last-child {
		margin-bottom: 0;
	}

	.sub-menu li:hover:before {
		width: 100%;
	}

	.sub-menu li a {
		font-weight: 200;
	}

	.sub-menu li a:hover {
		color: #fff;
	}

	.sub-menu:before {
		display: none;
	}

	.nav-list-item:hover .sub-menu {
		display: block;
	}

	/*	main nav end */
	.search-btn,
	.nav-toggle-btn {
		margin-left: 53px;
	}

	.hero-description {
		margin: 0 auto;
		float: none;
		text-align: center;
	}

	.hero-inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.link-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		clear: both;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 53px 0 0 0;
	}

	.link-list .link-list-item {
		padding: 0 48px 25px;
	}

	.vertical-process-wrapper .vertical-process.stop {
		top: 190px !important;
	}

	.vertical-process-wrapper:before {
		content: "";
		height: 135px;
		top: 65px;
		left: calc(50% - 3px);
	}

	.vertical-process {
		left: calc(50% - 9px);
	}

	.value-col {
		margin-bottom: 30px;
	}

	.services-gallery .col-img {
		width: 100%;
	}

	.vertical-process-circle {
		top: 56px;
	}

	.footer-inner {
		padding: 0 10px;
	}

	.logo-col {
		margin: 16px -24px 0;
	}

	.logo-col .logo-img {
		height: 72px;
	}

	.logo-col .logo-img-title {
		height: 12px;
		margin: 10px auto 0;
	}

	.contact-block .link-list-item {
		padding: 0 4px 25px 0;
	}

}

@media screen and (max-width: 545px) {
	.container {
		max-width: 486px;
	}

	.header-logo .logo-img-title {
		display: none;
	}

	.header .request-btn {
		display: none;
	}

	.header .search-btn,
	.header .nav-toggle-btn {
		margin-left: 36px;
	}

	.search-form-inner {
		margin: 0 20px 0 0;
	}

	.hero {
		padding: 210px 0 188px;
	}

	.hero-inner {
		clear: both;
	}

	.hero-description {
		clear: both;
		text-align: center;
		max-width: 440px;
		padding: 0;
	}

	.hero-description .link-list {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		float: none;
		text-align: center;
		margin: 0;

	}

	.nav-list-item .request-btn {
		display: inline-block;
	}

	.nav-list-item:first-child a {
		font-weight: 400;
	}

	.link-list .link-list-item {
		float: none;
		display: inline-block;
		padding: 0 36px 25px;
	}

	.hero-title {
		font-size: 36px;
		font-weight: 700;
		padding: 0 0 14px 0;
	}

	.value-col {
		margin: 0 15px 30px;
	}

	.services {
		padding: 82px 0 30px;
	}

	.services-inner {
		text-align: center;
	}

	.services-title {
		padding: 0;
		margin-bottom: 20px;
	}

	.horizontal-process-wrapper {
		display: none;
	}

	.featured-project-inner .col-lg-6:last-child {
		position: relative;
		right: 0;
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}

	.featured-project-inner .column-left {
		text-align: center;
		padding: 30px 15px 0;
	}

	.featured-project p {
		padding-top: 20px;
	}

	.feat-proj-img {
		width: 100%;
		height: auto;
	}

	figcaption p {
		padding-left: 15px;
	}

	.figcaption-span {
		right: 30px;
		top: 26px;
	}

	.vertical-process-wrapper-2 {
		margin: 32px 0 0 0;
	}

	.vertical-process-wrapper-2:before {
		left: 50%;
	}

	.vertical-process-wrapper-2 .vertical-process-2 {
		left: calc(50% - 5px);
	}

	.call-to-action-inner {
		-webkit-box-pack: unset;
		-ms-flex-pack: unset;
		justify-content: unset;
		padding: 74px 35px 0;
	}

	.call-to-action-title {
		padding: 38px 30px 10px;
	}

	.footer {
		background-color: rgba(27, 155, 215, 1);
		padding: 57px 0 0;
	}

	.footer .col-sm-5:first-child {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	}

	.logo-block {
		margin-bottom: 34px;
	}

	.logo-col .logo-img {
		height: 72px;
	}

	.logo-col .logo-img-title {
		height: 12px;
		margin: 10px auto 0;
	}

	.join-block,
	.contact-block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
		margin: 0;
	}

	.contact-block {
		margin: 47px 0 21px;
	}

	.contact-block .link-list {
		margin: 38px 0 0 0;
	}

	.contact-block .link-list-item {
		display: inline-block;
		margin: 0;
	}

	.join-btn .btn {
		margin-top: 22px;
	}

	.copyright-block {
		padding: 27px 0 35px;
	}

	.copyright-block p {
		line-height: 1.6;
	}
}

@media screen and (max-width: 321px) {
	.container {
		max-width: 290px;
	}

	.header .logo-img {
		height: 44px;
	}

	.nav-list-item a {
		font-size: 24px;
	}

	.sub-menu li a {
		font-size: 18px;
	}

	.sub-menu {
		margin: 20px auto 0;
		left: 0;
		width: 220px;
	}

	.nav-list-item:nth-child(4):before {
		top: 5px;
		left: 108px;
	}

	.nav-list-item:hover:before {
		top: 5px;
	}

	.show-nav .nav-toggle-btn {
		margin: 36px auto 0;
	}

	.col-img {
		padding: 15px;
	}

	.values {
		margin-top: 20px;
	}
}
